{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="page-heading header-text" style="padding-top: 150px !important;background: linear-gradient(-180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(https://res.cloudinary.com/aime/image/upload/v1652689668/77177699_632691734215366_4431223673176719360_n_ml1n7d.jpg) center; background-size: cover;">
      <div class="container">
        <div class="row">
          <div class="mini-header col-md-12 d-flex align-items-center justify-content-center align-self-center text-center">
          </div>
        </div>
      </div>
    </div>

    <div id="story" class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <!-- <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/images/about-image.jpg" alt="">
                  </div>
                </div> -->
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <h2>L'histoire de BFT Group.</h2>
                    <p>L’histoire de Banking and Financial Technology Group (BFT Group) commence en 2017 suite à la rencontre de trois jeunes africains, désireux chacun d’oeuvrer à l’inclusion financière des populations de leur continent. Du souci d’atteindre leur objectif commun qui est de faciliter la vie des populations non bancarisées en Afrique, est née la Fintech panafricaine BFT.
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <p>L'objet de BFT au Bénin et à l’étranger est le développement des solutions technologiques dans les secteurs de la finance digitale, la monétique, le data management, la cyber sécurité et du paiement électronique. La conception et le développement d’applications et de plateformes technologiques pour les institutions financières. Et en général, la prestation de tous services de vente, de création, d’hébergement, de référencement et d’audits en systèmes et logiciels informatiques.
                  </div>
                </div>
              </div>
            </div>
          </div>
<!--           <div class="col-md-12 mb-5 mt-5">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/images/about-3.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <p>Fusce nec ultrices lectus. Duis nec scelerisque risus. Ut id tempor turpis, ac dignissim ipsum. Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem.
                    <br><br>Pellentesque in sagittis lacus, vel auctor sem. Quisque eu quam eleifend, ullamcorper dui nec, luctus quam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-5">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/images/about-2.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <p>Fusce nec ultrices lectus. Duis nec scelerisque risus. Ut id tempor turpis, ac dignissim ipsum. Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem.
                    <br><br>Pellentesque in sagittis lacus, vel auctor sem. Quisque eu quam eleifend, ullamcorper dui nec, luctus quam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
 -->
        </div>
      </div>
    </div>

    <div id="mission-vision-values" class="more-info about-info jumbotron mb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Moderniser les services économiques en Afrique</span>
                    <h2>Mission, <em>Vision,</em> Valeurs</h2>
                    <p>Notre ambition est de positionner BFT comme un acteur majeur de la finance digitale en Afrique.<br>
                      Notre mission est de fournir à nos clients des solutions technologiques adaptées aux réalités de l’Afrique afin d’améliorer l’accès des populations aux services financiers et de contribuer au développement des communautés.<br>
                      Pour y parvenir, nous organisons notre culture d’entreprise autour de cinq valeurs fondamentales à savoir : la Passion, l’Innovation, l’Esprit d’équipe, la Qualité et l’Ethique.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{% static 'images/img_vision_bft.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="team" class="team mb-2 mt-0">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Les Leadeurs de <em>la Fintech</em></h2>
              <span>Organe de gouvernance</span>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="team-item">
              <img src="{% static 'images/team_01.jpg' %}" alt="">
              <div class="down-content">
                <h4>Amos A. AVOCE</h4>
                <span>Directeur Général<br></span>
              </div>
            </div>
          </div>

          <div class="col-md-1"></div>
          <div class="col-md-3 mb-4">
            <div class="team-item">
              <img src="{% static 'images/team_02.jpg' %}" alt="">
              <div class="down-content">
                <h4>Sinodobe AGLI</h4>
                <span>Directeur Général Adjoint<br></span>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="team-item">
              <img src="{% static 'images/team_03.jpg' %}" alt="">
              <div class="down-content">
                <h4>Olivier KOUETE</h4>
                <span>Directeur de l’Innovation et de la Sécurité</span>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="team-item">
              <img src="{% static 'images/team_04.jpg' %}" alt="">
              <div class="down-content">
                <h4>Jamel ZAKARI</h4>
                <span>Directeur Administratif et Financier</span>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="team-item">
              <img src="{% static 'images/team_05.jpg' %}" alt="">
              <div class="down-content">
                <h4>Innocent SOUNOUVOU</h4>
                <span>Directeur d’Exploitation et de la Conformité</span>
              </div>
            </div>
          </div>



              <!-- <div class="col-md-6">
                <div class="team-item">
                  <img src="assets/images/team_02.jpg" alt="">
                  <div class="down-content">
                    <h4>Mary Houston</h4>
                    <span>Chief Marketing Officer</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="team-item">
                  <img src="assets/images/team_03.jpg" alt="">
                  <div class="down-content">
                    <h4>Paul Walker</h4>
                    <span>Financial Analyst</span>
                  </div>
                </div>
              </div> -->
        </div>
      </div>
    </div>

    <div id="partners"  class="more-info about-info my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-5 align-self-center">
                  <div class="right-content">
                    <span>Nos partenaires</span>
                    <h3>Nous travaillons avec les <em>meilleurs partenaires</em></h3>
                    <p>Fusce nec ultrices lectus. Duis nec scelerisque risus. Ut id tempor turpis, ac dignissim ipsum. Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem.
                  </div>
                </div>
                <div class="col-md-7">

                  <div class="owl-partners owl-carousel align-self-center">

                    <div class="partner-item animated">
                      <img src="assets/images/patners/Fececam-logo.png" title="1" alt="1">
                    </div>

                    <div class="partner-item">
                      <img src="assets/images/patners/fucec-togo.png" title="2" alt="2">
                    </div>

                    <div class="partner-item">
                      <img src="assets/images/patners/inlogics.png" title="3" alt="3">
                    </div>

                    <div class="partner-item">
                      <img src="assets/images/patners/laposte.png" title="4" alt="4">
                    </div>

                    <div class="partner-item">
                      <img src="assets/images/patners/pebco.png" title="5" alt="5">
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="policy" class="more-info about-info mt-5 mb-0 jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-12 align-self-center">
                  <div class="right-content">
                    <h2>Politique et <em>Engagement</em></h2>
                    <p>Notre politique qualité et de gestion du risque est orientée sur la conformité de nos pratiques aux exigences légales et règlementaires, aux besoins et attentes de nos parties intéressées pertinentes. Ainsi, nous nous engageons à satisfaire en permanence nos clients avec une amélioration continue, à sécuriser nos plateformes, à maitriser et mitiger les risques et à renforcer les capacités du personnel.
                      La vision de BFT en fait une société écoresponsable qui se veut respectueuse des exigences centrales relatives à la responsabilité sociétale et recherchant les moyens d’intégrer un comportement responsable dans l’organisation. Ainsi, dans une dynamique d’amélioration permanente, nous nous inspirons continuellement des lignes directrices de la norme ISO 26000 :2010 afin d’intégrer autant que faire se peut la responsabilité sociétale dans les habitudes de toutes les parties prenantes de l’organisation.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
