{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page-heading header-text" style="padding-top: 150px !important;background: linear-gradient(-180deg, rgba(0, 0, 0, 0.9), rgba(0,145,236,0.4)), url(https://res.cloudinary.com/aime/image/upload/v1652874076/031A9776_lfug3a.jpg) center; background-size: cover;">
      <div class="container">
        <div class="row">
          <div class="mini-header col-md-12 d-flex align-items-center justify-content-start align-self-center text-center">
              <h1>Matériels & <span>Consommable</span></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-5">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 order-md-1 order-2 align-self-center">
                  <div class="right-content">
                    <h2>Terminaux de Paiement Électroniques (TPE)</h2>
                    <p>Le Terminal que nous proposons en première option est le Terminal de Paiement Electronique (TPE) SPTG-P210Z. Doté d'un système d’authentification et d’autorisation, ce Terminal permet de garantir la protection des données contre toute utilisation non autorisée et de paramétrer les niveaux de sécurité́ et de confidentialité́ attachés aux données collectées. Il propose les fonctionnalités suivantes :
                  </div>
                  <div class="container mt-2">
                    <ul class="body-ul" style="list-style:disc !important;">
                      <li class="">Gestion d’utilisateurs, pour la création de nouveaux utilisateurs et profils</li>
                      <li class="">Gestion des permissions</li>
                      <li class="">Gestion de groupes de permissions</li>
                      <li class="">Hachage de mots de passe et autres données sensibles</li>
                      <li class="">L’accès aux données est réglementé par deux types de permission
                        <ul class="container" style="list-style: circle;">
                          <li class="">Le recensement des contribuables</li>
                          <li class="">La personnalisation et l’attribution de cartes électroniques d’identification</li>
                        </ul>
                      </li>
                    </ul>
                  </div>

                </div>
                <div class="col-md-6 order-md-2  order-1">
                  <div class="left-image">
                    <img src="https://res.cloudinary.com/aime/image/upload/v1652870182/Sans_titre_3_oolicd.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-5 mt-5">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 order-md-1 align-self-center  order-1">
                  <div class="left-image">
                    <img src="https://res.cloudinary.com/aime/image/upload/v1652449452/031A9740_bfjdk5.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 order-md-2  order-2 align-self-center">
                  <div class="right-content">
                    <h2>Cartes NFC</h2>
                    <p>Les TPE SPTG-P210Z utilisent des cartes DESFire (RFID 13,56Mhz) de haute sécurité́ à
                      puce micro-processeur pour l’identification des clients.
                  </div>
                  <ul class="body-ul">
                    <li class="">
                      La carte DESFire respecte la norme ISO 14443A 1-4 et garantit la fonction anticollision.
                    </li>
                    <li class="">
                      Chaque carte DESFire contient un numéro de série unique (UID) qui garantit son unicité́ et sa reconnaissance.
                    </li>
                    <li class="">
                      3 M éthodes d’encodage cryptographiques sont disponibles et sélectionnable: 3DES, 3KDES et AES
                    </li>
                    <li class="">
                      La lecture ou l’écriture sur les cartes après initialisation ne peut se faire qu’en s’authentifiant avec les clés utilisées pendant l’initialisation de la carte.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-5">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 order-md-1  order-2 align-self-center">
                  <div class="right-content">
                    <h2>Papiers thermiques</h2>
                    <p>Consommable essentiel pour le fonctionnement des TPE, ils permettent l’impression des tickets
                      qui sont remis aux clients lors des opérations de terrain.
                  </div>
                </div>
                <div class="col-md-6 order-md-2  order-1">
                  <div class="left-image">
                    <img src="https://res.cloudinary.com/aime/image/upload/v1652871756/electronic-cash-register-and-lot-of-paper-roll_g6bjus.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-5 mt-5">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 order-md-1  order-1">
                  <div class="left-image">
                    <img src="https://res.cloudinary.com/aime/image/upload/v1652872501/23_uzpuzj.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 order-md-2  order-2 align-self-center">
                  <div class="right-content">
                    <h2>Raspberry</h2>
                    <p>Uniquement utilisés pour les SIG distribués (Exemple : SAF 2000), ils permettent l’interconnexion entre notre Plateforme et le SIG de l’Institution Financière.
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock %}
